<h5 mat-dialog-title>Add Member</h5>

<mat-dialog-content
  class="mat-dialog-data"
  [formGroup]="form"
  (ngSubmit)="create()"
>
  <div class="row">
    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="first_name" placeholder="First Name" />
        <mat-error
          align="start"
          *ngIf="formErrors?.first_name"
          class="form__error"
          >{{ formErrors.first_name }}</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Middle Name</mat-label>
        <input
          matInput
          formControlName="middle_name"
          placeholder="Middle Name"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.middle_name"
          class="form__error"
          >{{ formErrors.middle_name }}</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="last_name" placeholder="Last Name" />
        <mat-error
          align="start"
          *ngIf="formErrors?.last_name"
          class="form__error"
          >{{ formErrors.last_name }}</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input
          matInput
          [matDatepicker]="date_of_birth"
          formControlName="date_of_birth"
          placeholder="Date of Birth"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="date_of_birth"
        ></mat-datepicker-toggle>
        <mat-datepicker #date_of_birth></mat-datepicker>
        <mat-error
          align="start"
          *ngIf="formErrors?.date_of_birth"
          class="form__error"
          >{{ formErrors.date_of_birth }}</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" />
        <mat-error
          align="start"
          *ngIf="formErrors?.email"
          class="form__error"
          >{{ formErrors.email }}</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Nationality</mat-label>
        <input
          matInput
          formControlName="nationality"
          placeholder="Nationality"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.nationality"
          class="form__error"
          >{{ formErrors.nationality }}</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Phone</mat-label>
        <input
          matInput
          formControlName="phone"
          placeholder="Phone"
          oncopy="return false"
          oncut="return false"
          onpaste="return false"
          ondrag="return false"
          ondrop="return false"
          autocomplete="off"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.phone"
          class="form__error"
          >{{ formErrors.phone }}</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Confirm Phone</mat-label>
        <input
          matInput
          formControlName="confirmphone"
          placeholder="Confirm Phone"
          oncopy="return false"
          oncut="return false"
          onpaste="return false"
          ondrag="return false"
          ondrop="return false"
          autocomplete="off"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.confirmphone"
          class="form__error"
          >{{ formErrors.confirmphone }}</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>National ID or Passport</mat-label>
        <input
          matInput
          formControlName="id_number"
          placeholder="National ID or Passport"
          autocomplete="off"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.id_number"
          class="form__error"
          >{{ formErrors.id_number }}</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Confirm National ID or Passport</mat-label>
        <input
          matInput
          formControlName="confirmid_number"
          placeholder="Confirm National ID or Passport"
          autocomplete="off"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.confirmid_number"
          class="form__error"
          >{{ formErrors.confirmid_number }}</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Date Became Member</mat-label>
        <input
          matInput
          [matDatepicker]="date_became_member"
          formControlName="date_became_member"
          placeholder="Date Became Member"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="date_became_member"
        ></mat-datepicker-toggle>
        <mat-datepicker #date_became_member></mat-datepicker>
        <mat-error
          align="start"
          *ngIf="formErrors?.date_became_member"
          class="form__error"
          >{{ formErrors.date_became_member }}</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>County / State</mat-label>
        <input matInput formControlName="county" placeholder="County / State" />
        <mat-error
          align="start"
          *ngIf="formErrors?.county"
          class="form__error"
          >{{ formErrors.county }}</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>City / Town</mat-label>
        <input matInput formControlName="city" placeholder="City / Town" />
        <mat-error align="start" *ngIf="formErrors?.city" class="form__error">{{
          formErrors.city
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Member Group</mat-label>
        <mat-select placeholder="Member Group" formControlName="group_id">
          <mat-option value="">None</mat-option>
          <mat-option *ngFor="let group of groups" [value]="group.id">
            {{ group.name }}
          </mat-option>
        </mat-select>
        <mat-error
          align="start"
          *ngIf="formErrors?.group_id"
          class="form__error"
          >{{ formErrors.group_id }}</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Postal Address</mat-label>
        <input
          matInput
          formControlName="postal_address"
          placeholder="Postal Address"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.postal_address"
          class="form__error"
          >{{ formErrors.postal_address }}</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Residential Address</mat-label>
        <input
          matInput
          formControlName="residential_address"
          placeholder="Residential Address"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.residential_address"
          class="form__error"
          >{{ formErrors.residential_address }}</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <h5 mat-dialog-title>Next of Kin Information</h5>

  <div class="row">
    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Full Names</mat-label>
        <input
          matInput
          formControlName="nx_first_name"
          placeholder="First Name"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.first_name"
          class="form__error"
          >{{ formErrors.first_name }}</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>ID Number</mat-label>
        <input
          matInput
          formControlName="nx_id_number"
          placeholder="Id Number"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.nx_id_number"
          class="form__error"
          >{{ formErrors.nx_id_number }}</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Nationality</mat-label>
        <input
          matInput
          formControlName="nx_nationality"
          placeholder="Nationality"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.nx_nationality"
          class="form__error"
          >{{ formErrors.nx_nationality }}</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          formControlName="nx_phone_number"
          placeholder="Phone Number"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.nx_phone_number"
          class="form__error"
          >{{ formErrors.nx_phone_number }}</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Alt Phone Number</mat-label>
        <input
          matInput
          formControlName="nx_alt_phone_number"
          placeholder="Alt Phone Number"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.nx_alt_phone_number"
          class="form__error"
          >{{ formErrors.nx_alt_phone_number }}</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select placeholder="Gender" formControlName="nx_gender">
          <mat-option value="">None</mat-option>
          <mat-option *ngFor="let gender of genders" [value]="gender">
            {{ gender }}
          </mat-option>
        </mat-select>
        <mat-error
          align="start"
          *ngIf="formErrors?.gender_id"
          class="form__error"
          >{{ formErrors.gender_id }}</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Relationship</mat-label>
        <input
          matInput
          formControlName="nx_relationship"
          placeholder="Relationship"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.nx_relationship"
          class="form__error"
          >{{ formErrors.nx_relationship }}</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <h5 mat-dialog-title>Business /Employer information</h5>
  <div class="row">
    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Employment Type</mat-label>
        <mat-select
          placeholder="Employment Type"
          formControlName="employment_type"
        >
          <mat-option value="">None</mat-option>
          <mat-option
            *ngFor="let employment_type of emplymenttypes"
            [value]="employment_type"
          >
            {{ employment_type }}
          </mat-option>
        </mat-select>
        <mat-error
          align="start"
          *ngIf="formErrors?.employment_type"
          class="form__error"
          >{{ formErrors.employment_type }}</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Nature of Business</mat-label>
        <input
          matInput
          formControlName="bs_nature"
          placeholder="Nature of Business"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.bs_nature"
          class="form__error"
          >{{ formErrors.bs_nature }}</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput formControlName="bs_location" placeholder="Location" />
        <mat-error
          align="start"
          *ngIf="formErrors?.bs_location"
          class="form__error"
          >{{ formErrors.bs_location }}</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Stock Level</mat-label>
        <input
          matInput
          formControlName="stock_level"
          placeholder="Stock Level"
        />
        <mat-error
          align="start"
          *ngIf="formErrors?.stock_level"
          class="form__error"
          >{{ formErrors.stock_level }}</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field class="full-width" color="primary" appearance="outline">
        <mat-label>Date Business Started</mat-label>
        <input
          matInput
          [matDatepicker]="bs_start_date"
          formControlName="bs_start_date"
          placeholder="Date Business Started"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="bs_start_date"
        ></mat-datepicker-toggle>
        <mat-datepicker #bs_start_date></mat-datepicker>
        <mat-error
          align="start"
          *ngIf="formErrors?.bs_start_date"
          class="form__error"
          >{{ formErrors.bs_start_date }}</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <input
        type="file"
        #profileFileInput
        class="file-input"
        accept="image/*"
        (change)="onProfilePicSelect($event.target.files)"
      />
      <button
        mat-button
        class="mat-raised-button"
        (click)="profileFileInput.click()"
      >
        <i class="material-icons">attachment</i>
        Profile Photo
      </button>

      <img
        alt="Member Photo"
        *ngIf="profilePicUrl"
        [src]="profilePicUrl"
        class="member-photo"
      />
    </div>
    <div class="col-md-8">
      <label>Membership Application Form</label><br />
      <input
        type="file"
        (change)="membershipFormUpload($event.target.files)"
        placeholder=""
        accept=".pdf,.doc,.docx"
      />
      <mat-error
        align="start"
        *ngIf="formErrors?.membership_form"
        class="form__error"
        >{{ formErrors.membership_form }}</mat-error
      >
    </div>
  </div>
</mat-dialog-content>

<div class="d-flex justify-content-center spinner-container" *ngIf="loader">
  <mat-progress-bar color="green" mode="query" value="50" bufferValue="75">
  </mat-progress-bar>
</div>

<mat-dialog-actions align="center">
  <button
    [disabled]="loader"
    mat-button
    class="mat-raised-button button-separate"
    [mat-dialog-close]="true"
    (click)="close()"
  >
    Close
  </button>
  <button
    class="mat-raised-button mat-primary"
    (click)="create()"
    [disabled]="!form.valid || loader"
  >
    Save
  </button>
</mat-dialog-actions>
